
**/.DS_Store

**/test
**/gen_table
**/call_gen
**/speed
**/testvectors

**/kyber_test
**/kyber_testvectors
**/kyber_speed
**/dilithium_test
**/dilithium_testvectors
**/dilithium_speed
**/saber_test
**/saber_testvectors
**/saber_speed

work
work-patched

